/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;

}


header {
    position: relative;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;

    
}

h1 {
    margin: 0;

}

h2{
    font-family: cursive;
    text-decoration-line: underline;
}


.bio {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    outline-style: outset;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
